*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 160px;
    background-color: rgb(218, 225, 39);
    position: relative;
}
.header .logo{
    width: 40%;
    height: inherit;
    position: absolute;
    top: 10px;
    left: 50px;
}
.header .logo img{
    width: 180px;
}
.header .menu{
    width: 60%;
    height: inherit;
    position: absolute;
    line-height: 160px;
    top: 10px;
    right: 10px;
}
.header .menu ul{
    width: 100%;
    height: inherit;
    list-style: none;
}
.header .menu ul li{
    float: left;
    width: 250px;
}
.header .menu ul li a{
    color: #363434;
    font-size: 25px;
}
.header .menu ul li:nth-of-type(1) a{
    color: crimson;
}
.hero{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.hero img{
    width: 100%;
}
.hero .circel-1{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 255, 0,0.9);
    position: absolute;
    bottom: 50px;
    right: 400px;
}
.hero .circel-2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 0, 55, 0.7);
    position: absolute;
    bottom: 60px;
    right: 380px;
    padding-top: 90px;
    padding-left: 40px;
    line-height: 36px;
    text-indent: 20px;
    letter-spacing: 5px;
}
.hero .circel-2 a{
    color: aliceblue;
    font-size: 35px;
    
}
.main{
    width: 100%;
    height: 700px;
    background-color: #e9b404;
    display: flex;
    flex-direction: column;
    
}
.main .main-1{
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
}
.main .main-1 .para{
    width: 60%;
    height: inherit;
}
.main .main-2{
    width: 100%;
    height: 200px;
}
.main .pic img{
    width: 400px;
}